/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19-ene-2017, 17:15:51
    Author     : Andre Cintra
*/

.contato{
    padding-top: 150px;
    padding-bottom: 24rem;
    background-image: url(../img/page-contato/contato-background.jpg);
    background-repeat: repeat-y;
    background-size: cover;
    

    .col-hr{
        padding-right: 0px;
        
        .contato-hr{
            border-top: 1px solid black;
            margin-top: 25px;
        }
    }
    .label-container{
        width: 48%;
        p{
            margin: 10px 10px 0px 0px;
            text-transform: uppercase;
            font-size: 24px;
        }
    }
    .form-container{
        background-color: $grey_rgba;
        margin-bottom: 20px;
        padding: 30px 10px 30px 10px;   
        width: 48%;    

        .label{
            text-align: right;
            color: rgba(0,0,0,0.75);
            font-size: 14px;
            line-height: 16px;
        }

        .field input[type='text'],.field input[type='email'], .field textarea{
            width: 100%;
            border: none;
        }

        .field input[type='submit']{
            padding: 5px 2px;
            line-height: 24px;
            background-color: $laranja;
            color: white;
            border: none;
            width: 100%;
            transition: 0.3s ease;
            &:hover{
                background: $laranja-claro;
            }
        }
    }
}

.contato-footer{
    background-color: $cinza-rodape;
    position: fixed;
    bottom: 0;
    width: 100%;        
    .info{
        background-color: black;
        padding: 25px 0px 0px 0px;
        text-align: center;
        color: $laranja;
        line-height: 36px;
        ul li{
            display: inline-block;            
            height: 40px;
            width: 40px;
            background-repeat: no-repeat;
            margin-right: 10px;
        }        
        .contato-footer-facebook{
            background-image: url(../img/icone-facebook-active.png);
        }
        .contato-footer-linkedin{
            background-image: url(../img/icone-linkedin-active.png);
        }
        .contato-footer-youtube{
            background-image: url(../img/icone-youtube-active.png);
        }
        .contato-footer-twiter{
            background-image: url(../img/icone-twiter-active.png);
        }
        .contato-footer-instagram{
            background-image: url(../img/icone-instagram-active.png);
        }
        .contato-footer-facebook:hover{
            background-image: url(../img/icone-facebook.png);
            cursor: pointer;
        }
        .contato-footer-linkedin:hover{
            background-image: url(../img/icone-linkedin.png);
            cursor: pointer;
        }
        .contato-footer-youtube:hover{
            background-image: url(../img/icone-youtube.png);
            cursor: pointer;
        }
        .contato-footer-twiter:hover{
            background-image: url(../img/icone-twiter.png);
            cursor: pointer;
        }
        .contato-footer-instagram:hover{
            background-image: url(../img/icone-instagram.png);
            cursor: pointer;
        }
    }
    .trademark{
        background-color: $cinza-rodape;
        padding: 2px;
        color: white;
        text-align: center;
        line-height: 36px;
    }    
    i{
        font-size: 32px;
        padding-right: 5px;
        position: relative;
        top: 5px;
    }
    p{
        font-size: 20px;
    }
}