
/* <VIDEO>*/
.container-fluid{
  padding-left: 0px;
  padding-right: 0px;
    .row{
        margin-right: 0px;
        margin-left: 0px;
      .bg_video{
        position: fixed;
        height: 1198px;
        margin-top: -140px;
        overflow: hidden;
        z-index: -1000;
        background: url(../img/bg-banner-foto.jpg) no-repeat;
        background-size: cover;
        filter: brightness(0.5);
         }
      .row{
        height: 1078px;
        .container-fluid{
          .logo-video{
            margin-top: 28rem;
              img{
                float: none;
                display: block;
                margin: 0 auto;
              }
            }
            .titulo-video h1{
              text-align: center;
              color: #fff;
              font-size: 3.5rem;
              letter-spacing: 12px;
              padding: 0 2rem;
              font-weight: 900;
            }
            .divisor-video{
              margin: 3.5rem auto;
              width: 20%;
              text-align: center;
                hr{
                  border-top: 1px solid #fff;
                  }
            }
            .chamada-video {
              padding: 0 2rem;
                p{
                  text-align: center;
                  text-transform: uppercase;
                  color: #fff;
                  font-size: 2rem;
                  letter-spacing: 5px;
            }
          }
        }
      }
        
    } 
  }

.video-desktop{
  display: none;
}
.video-mobile{
  display: none;
}
/* </VIDEO>*/


