.sessao-botoes-inferiores{
	background: $cinza;
	.chamada{
		text-align: center;
		font-size: 1.6rem;
		margin-top: 5rem;
		margin-bottom: 4rem;
	}
		.botoes{
			margin-bottom: 10rem;
			padding-bottom: 2rem;
			text-align: center;
			span{
		    border: none;
		    padding: 1.5rem 4rem;
		    text-transform: uppercase;
		    color: #fff;
		    font-weight: normal;
		    font-size: 1.8rem;
		    &:focus{
		    	outline:none;
		    }
			}
			.botao-regulamento{
				text-align: right;
				margin: 0;
				span{
					background: $amarelo;
					transition: 0.3s ease;
					&:hover{
						background: $amarelo-claro;
					}
				}
			}
			.botao-inscreva{

				span{
					background: $verde;
					transition: 0.3s ease;
					&:hover{
						background: $verde-claro;
					}
				}
			}
			.botao-patrocinar{
				text-align: left;
				margin: 0;
				span{
					background: $laranja;
					transition: 0.3s ease;
					&:hover{
						background: $laranja-claro;
					}
				}
			}
		}
}