@media screen AND (max-width: 991px){
	.sessao-botoes-inferiores .botoes .botao-regulamento,
	.sessao-botoes-inferiores .botoes .botao-patrocinar,
	.sessao-botoes-inferiores .botoes .botao-inscreva{
		text-align: center;
		margin-bottom: 4rem;
		margin-left: 0!important;
	}

}