

/* <CONTATO> */
.div-laranja-footer{
  background: $laranja;
  text-align: center;
  padding: 10px 0;
  h3{
    font-weight:900;
    color: $white;
    text-transform: uppercase;
  }
  p{
    @include font();
    color: $white;
    margin:0 0 30px 0;
  }
  a{
    display: inline-block;
    height:45px;
    line-height:45px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    width:280px;
    transition: $transition;
    border:1px solid $white;
    @include font(18px, 500, $white);
    &:hover{
      @include font(18px, 500, $laranja);
      background: $white;
    }
  }
}
.innovative-footer{
  background: $black;
  padding:30px 0;
  .wpcf7-validation-errors, .wpcf7-mail-sent-ng, .wpcf7-response-output{
    position: absolute;
    display: block;
    bottom: -20px;
    left: 100px;
    color: $white;
  }
  .innovative-footer-contato{
    @include font(18px, 500, $laranja);
    text-align: center;
    line-height: 40px;
    margin: 5rem 0;
    .dados-gerais{

      a{
        color: $laranja;
        transition: $transition;
        &:hover{
          text-decoration: none;
          text-shadow: 0 0 1px $laranja;
          }   
        }
        i{
          font-size: 22px;
        }
    }
    img{
      margin: 0 auto 20px;
    }
    /* REDES SOCIAIS */
    .dotpet-footer-sociais{
      height:30px;
      margin-top: 30px;
      ul{
        padding:0;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        .dotpet-footer-sociais-link{
          position: relative;
          display: inline-block;
          width:auto;
          height:40px;
          text-align:center;
          line-height:32px;
          font-size: 15px;
          a{
            z-index:1;
            display: block;
            img{
              transition: all 0.5s ease;
              &:hover{
                filter: drop-shadow(0 0 1px #ff7903);
              }
            }
          }
        }
      }
    }
  }
  .dotpet-footer-form{
    border-left: 2px solid $laranja;
    padding: 20px 0 20px 20px;
    input[type=text], input[type=email] {
      @include font();
      background: transparent;
      border-radius:0;
      border:1px solid $laranja;
      color: $white;
      height:42px;
      &:focus{
        outline: 0;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px $yellow-alpha-7;
      }
    }
    .form-group:last-child{
      margin:0;
    }
  }
  .dotpet-footer-form2{
    padding: 20px 0;
    textarea{
      @include font();
      background: transparent;
      border-radius:0;
      border:1px solid $laranja;
      color: $white;
      resize: none;
      height:100px;
      margin-bottom:15px;
      &:focus{
        outline: 0;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px $yellow-alpha-7;
      }
    }
    input[type=submit]{
      @include font(16px, 700, $black);
      text-transform: uppercase;
      width:100%;
      height:42px;
      border:0;
      background: $laranja;
      color: $black;
      transition: $transition;
      &:hover{
        background: $laranja;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px $yellow-alpha-7;
      }
    }
  }
}
.footer-copyright{
  width:100%;
  height: 50px;
  background:$cinza-rodape;
  line-height:50px;
  text-align: center;
  @include font();
  color: $white;
  a{
    @include font();
    color: $white;
    text-decoration: none;
    transition: $transition;
    &:hover{
      font-weight: 700;
    }
  }
}

/*</CONTATO> */
