/* <HEADER>*/
.navigation-background{
    position: fixed;
    width: 100%;
    z-index: 100000;
    box-shadow: 0px 5px 25px rgba(51, 51, 51, 0.7);
		.navbar-default{
			background: rgba(255, 255, 255, 0.9);
      margin-bottom: 0;
      border:none;
			.container-fluid{
        .navbar-elements{
          padding-left: 13rem;
  				.navbar-collapse{		
  					.main-navigation{
  						background: transparent!important;
      				margin-left: -185px;
      				text-align: left;
  	    			height:	109px;
              margin-bottom: 0;
              text-transform: uppercase;
              .current-menu-item{
                background-color: #ff7903!important;
                  a{
                    color: #fff!important;
                  }
              }  		
  						li{
  								display: inline-block;
  								padding:  45px 20px;
                  height: 100%;
                  margin: 0 -2px;
                  &:hover{
                  background-color:#f0c8a4;

              }

              ul{
                margin-top: -1px;
                background-color: transparent;
                border-radius: 0;
                margin-left: -40px;
                text-align: center;
                li{
                  background-color: rgba(255,255,255,0.9);
                  padding: 0;
                }
              }
  					}
  				}
  			}
      }
		}
	}	
}
.img-header{
          margin: 20px 45px 20px 0;
        }

 .sociais{
      position: absolute;
      right: 3rem;
      margin-top: -11rem;
      figure{
        transition: $transition;
        display: inline-block;
        .ativa{
          display: none;
          filter: drop-shadow(0 0 1px #ff7903);

        }
        .default{
          display: block
        }
        &:hover{
          .default{
            opacity: 0;
            display: none;
          }
          .ativa{
            opacity: 1;
            display: block
          }
        }
      img{
        padding: 35px 10px 0 0;
        float:  right;    
        }
      }
    }       
.navbar-default .navbar-toggle{
    margin-top: -25px!important;
    margin-bottom: 40px!important;
}
.dropdown-menu>li>a{
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    margin-left: 2px;
    width: 100%;
    &:hover{
      background: #f0c8a4;
    }
}

.navigation-background .navbar-default .container-fluid .navbar-elements .navbar-collapse .main-navigation li ul li{
    width: 100%;
    margin-left: 0px;
    padding: 5px 5px 5px 2px;
    margin-top: -5px;
    margin-bottom: 7px;
  &:hover{
    background: #f0c8a4;
  }
  &:last-child{
    margin-bottom: -5px;
   
  }
}
.navigation-background .navbar-default .container-fluid .navbar-elements .navbar-collapse .main-navigation .current-menu-item a{
  color: #000; 
}
.caret{
  display: none;
}
.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover{
  background: $laranja;
  color: #fff;
}
/* </HEADER>*/