.inscreva{
	.banner{
		background: url(../img/page-premio/premio-banner.jpg) no-repeat;
		height: 515px;
		background-size: cover;
		margin-top: -2rem;
		.img-destaque{
			padding-top: 18rem;
			padding-left: 2rem;
    	padding-right: 2rem;
			img{
			margin: 0 auto;
		    display: block;
		    width: 170px;
		    height: auto;
			max-width: 100%;
			}
		}
		.dados-destaque{
			.dado{
				text-align: center;
				font-size: 20px;
				color: #000;
				letter-spacing: 4px;
				text-transform:uppercase;
			}
			hr{
				border-color: #000;
				width: 30%;
			}
		}
	}
}