/* <CHAMADA>*/
.sessao-chamada{
  margin-top: -12rem;
  .container-fluid{
    .row{
      .chamada{
          background-color: #fff;
          padding: 5rem;
          width: 100%;
          .titulo-chamada{
            margin-top: 6rem;
            text-align: center;
              h1{
                color:#ff7903;
                letter-spacing: 10px;
                font-size: 2.4rem;
                font-weight: 900;
                
                text-transform: uppercase;
              }
            }
          .divisor-chamada{
              hr{
                border-top: 1px solid #ff7903;
                width: 30%;
                margin-bottom: 6rem;
              }
          }  
          .chamada-chamada{
            margin-bottom: 6rem;
            width: 61%;
            margin: 0 auto;
            text-align: left;
            p{
              font-size: 1.6rem;
              letter-spacing: 1.25;
              line-height: 1.5;
          }
        }  
      }
    }
  }
}
/* </CHAMADA>*/