.patrocinar{
	.banner{
		background: url(../img/bg-banner-foto.jpg) no-repeat;
		height: 515px;
		background-size: cover;
		margin-top: -2rem;
		.dados-destaque{
			padding-top: 24rem;
			padding-left: 2rem;
    		padding-right: 2rem;
			text-align: center;
			font-size: 24px;
			color: #fff;
			text-transform:uppercase;
			.dado{
				margin-top: 1.5rem;
				margin-bottom: 0.5rem;
				letter-spacing: 6px;
			}
		}
	}
}