@media screen and (max-width: 375px) {
	.workshop-regionais .eventos .navegacao-eventos .item-navegacao{
		padding: 2.5rem 0rem 2.5rem 2.5rem;
	}
	
}
@media screen and (max-width: 991px) {
	.botoes-reg .botoes .botao-patrocinar{
		margin-right: 0!important;
		text-align: center!important;
		margin-bottom: 3rem;
		margin-left: 0!important;		
	}
	.botoes-reg .botoes .botao-participar{
    margin-right: 0!important;
    text-align: center!important;
    margin-bottom: 3rem;
    margin-left: 0!important;
	}
}
