.workshop-regionais{
	background-color: #fff;
	.titulo-win-reg{
		text-align: center;
		text-transform: uppercase;
		margin-top: 5rem;
		margin-bottom: 4rem;
		h1{
			color: $laranja;
			font-size: 2.4rem;
			letter-spacing: 8px;
		}
		hr{
			border-top: 1px solid $laranja;
			width: 30%;
		}
	}
	.conteudo{
		background: transparent;
		max-width: 1015px;
		margin-bottom: 7rem;
		margin-left: auto;
    	margin-right: auto;
	    p{
	    	font-size: 1.6rem;
	    }
	    ul{
	    	margin-bottom: 4rem;
	    	margin-top: 4rem;
    }
	}
	.eventos{
		background: $cinza;
		.navegacao-eventos{
			li{
				list-style: none;
				p{
					font-weight: bold;
					font-size: 1.8rem;
				}
				&.active{
					a > div{
						background-color: #dadada;
						color: #000000;
					}
				}
			}
			padding: 0 2.5rem;
			.item-navegacao1, .item-navegacao2, .item-navegacao3, .item-navegacao4{
				padding: 2.5rem 0rem 2.5rem 3.5rem;
			}
			.ativa{
				background: #d8d8d8;
			}
		}
		hr{
			border-color: #d8d8d8;
			margin-top: 0;
		}

		#evento1, #evento2, #evento3, #evento4{

			.conteudo-evento{
				font-size: 1.6rem;
				padding: 0 2.5rem;
				p{
					margin-top: 3.5rem;
				}
				ul{
					margin-top: 3rem;
					li{
						margin-top:2rem;
					}
				}
			}
			.horario-programa{
				padding: 0 2.5rem;
				margin-top: 4rem;
				color: #000;
				.head{
					background-color: #dadada;
					padding: 2rem 1.5rem;
					font-size: 1.6rem;
				}
			}
			.dados{
				padding: 0 2.5rem;
				margin-bottom: 4rem;
				.row{
					height: auto;
					.celula{
						padding: 2.5rem;
					}
				}
			}
		}
		#evento2,#evento3,#evento4{
			// display: none;

		}
	}
		.botoes-reg{
		background-color: #ededed;
		.botoes{
			padding-top: 0;
			padding-bottom: 4rem;
			.botao-participar{
				margin-right: 6rem;
				text-align:right;
				span{		
					background-color: #86b95d;	
			    border: none;
			    padding: 1rem 5rem;
			    text-transform: uppercase;
			    color: #fff;
			    font-weight: normal;
			    font-size: 1.8rem;
			    &:focus{
			    	outline:none;
			    }
				}
			}
			.botao-patrocinar{
				text-align: left;
				margin-left: 6rem;
				span{	
					background-color: $laranja;		
			    border: none;
			    padding: 1rem 5rem;
			    text-transform: uppercase;
			    color: #fff;
			    font-weight: normal;
			    font-size: 1.8rem;
			    &:focus{
			    	outline:none;
			    }
				}
			}
		}
	}
}	
