.sessao-categoria-premio{
	background: $cinza;
	.categoria{
		.titulo-sessao-premio{
			padding-top: 5rem;
			text-align: center;
			h1{
				font-size: 2.4rem;
				color: $laranja;
				letter-spacing: 8px;
			}
			hr{
				border-color: $laranja;
				width: 30%;
			}
		}
		.conteudo-categoria{
			margin-bottom: 3rem;
		}
	}
}

