.formulario-visitar{
	background: #ededed;
	.checkbox-patrocinar{
		margin-top: 6rem;
		margin-bottom: 2rem;
		.label-quero-participar{
			p{
				font-size: 1.6rem;
				span{
					font-size: 1.4rem;
					color: #ababab;
				}
			}
		}
	}
	.campos-gerais{
		margin-top: 5rem;
		p{
			font-size: 1.6rem;
		}
		input[type=text], input[type=email], input[type=tel], input[type=number], select, select option{
			width: 100%;
			border: none;
    		height: 40px;
		}
		textarea{
			width: 100%;
			border: none;
		}
	}
	.botao-enviar{
		width: 100%;
		margin-top: 2rem!important;
    	margin-bottom: 3rem!important;
		input[type=submit]{
			display: block;
		    margin: 0 auto;
		    background: #ff7903;
		    padding: 1rem 10rem;
		    border: none;
		    color: #fff;
		    text-transform: uppercase;
		}
	}
}