/*MEDIO*/
@media screen and (min-width: 992px) and (max-width: 1200px) {
	.posts .post .divisor-compartilhar hr{
		    margin-top: -0.75rem;
	}
	.posts .post .botoes-compartilhar button{
		margin: 0 0.25rem;
	    padding: 0.5rem 0.75rem;
	}
	.posts .post .textos .titulo-post{
		padding: 1rem 2.5rem 0rem;
	}
	.posts .post .textos .resumo-post{
	    padding: 0rem 2.5rem 0.5rem;	
	}
	.laterais .pesquisa .campo-pesquisa{
		width: 60%;
	}
	
}
@media screen and (max-width: 991px){
	.posts .post .img-post{
		margin-right: 0;
		img{
			height: auto;
		}
	}
	.posts .post .textos{
		margin-left: 0;
	}
	.conteudo .topicos-relacionados .posts-relacionados .container-relacionados{
		margin-left: 3.5rem!important;
   		margin-right: 3.5rem;
   
	}
	.conteudo .topicos-relacionados .posts-relacionados .titulo-relacionados{
		   padding: 0rem 3.5rem 2.5rem;
	}
	
}
/*MEDIO*/
/*PEQUENO*/
@media screen and (min-width: 769px) and (max-width: 991px){
	.laterais .pesquisa .campo-pesquisa{
		width: 85%;
	}
	.posts .post .img-post{
		margin-right: 0;
			img{
			width: 100%;
	    	height: auto;
		}
	}
	.posts .post .textos{
		height: 210px;
    margin-left: 0;
	}
	.posts .post .botoes-compartilhar{
		margin-left: 1rem;
	}
}
/*PEQUENO*/
/*MUITO PEQUENO*/
@media screen and (min-width: 461px) and (max-width: 768px){
	.posts .post .textos{
		height: 260px;
	}
}
@media screen and (max-width: 460px){
	.posts .post .textos{
		height: 360px;
	}
}
@media screen and (max-width: 375px){
	.posts .post .textos{
		height: 380px;
	}
	.posts .post .botoes-compartilhar .linkedin{
		    margin-top: 1rem;
	}
}
/*MUITO PEQUENO*/

@media screen and (max-width: 767px){
	.laterais{
		margin-top: 14rem;
	}
	.topicos-veja .posts-veja .container-veja .img-veja img{
		padding-right: 1.5rem;
	}
	.topicos-veja .posts-veja .titulo-veja{
		padding: 0 2.5rem 2.5rem;
	}
}
@media screen and (max-width: 768px){
	.navigation-background .navbar-default .container-fluid .navbar-elements .navbar-collapse .main-navigation li{
		padding: 45px 17px;
	}
}
