.breadcrumb{
	padding: 1.5rem 1.5rem 1rem 0px;
    margin-bottom: 1rem;
    list-style: none;
    border-radius: 4px;
    color: #ff7903;
    background: transparent;
    text-transform: uppercase;
	img{
		width: 10px;
	    margin: 0 5px;
	    height: auto;
	}
	a{
		color:$laranja;
	}
}
.posts{
	margin: 3rem 0;
		.post{
			width: 100%;
		 
				.img-post{
					display: block;
					text-align: center;
					margin-right: -15px;
					img{
						width: 100%;
						height: 240px;
				}
			}
			
			.textos{
				background-color: #fff;
				height: 240px;
				margin-left: -15px;
				.titulo-post{
				  padding: 2rem 2.5rem 0rem;
						h1{
							font-size: 1.8rem;
						    text-transform: uppercase;
						    font-weight: bolder;
						    line-height: 1.5;
						    margin-top: 0;
						    color: #333;
					}
				}
				.resumo-post{
					padding: 1rem 2.5rem 1.5rem;

			    line-height: 2rem;
			    font-size: 1.4rem;
}
					a{
						color:#ff8429;
					}
				}
				.divisor-compartilhar{
					font-size: 1.2rem;
					color:#d5d5d5;	
					padding-left: 2.5rem;
						hr{
							margin-top: 1rem;
							float: right;
    					width: 80%;
						}
				}
				.botoes-compartilhar{
					width: 100%;
			    float: left;
			    margin-left: 2rem;
					span{
						margin: 0 0.25rem;
						border: none;
				    color: #fff;
				    font-size: 13px;
				    font-weight: 300;	
				    border-radius: 5px;
				    padding: 0.5rem 0.75rem;
					}
					.facebook{
						background-color: #3b5997;
						box-shadow: 0px 2px 0px #2f4779;
					}
					.linkedin{
						background-color: #0074a1;
						box-shadow: 0px 2px 0px #005d81;
					}
					.twitter{
						background-color: #00aced;
						box-shadow: 0px 2px 0px #008abe;
					}
					.google{
						background-color: #d64937;
						box-shadow: 0px 2px 0px #ab3a2c;
					}
				}
		}
	}
	.divisor-post{
	  margin-top: 4rem;
    width: 100%;
    margin-bottom: 4rem;
	  hr{
	    border-top: 1px solid #d5d5d5;
	    }
	  	&:last-child{
	  		display: none;
  	}  
}
.wp-pagenavi{
	margin-bottom: 8rem;
	span{
		padding: 1rem 1.5rem;
		border: 1px solid #ff7903;
		color: #fff;
		margin: 0 0.5rem;
		background-color: #ff7903;

	}
	a{
		padding: 1rem 1.5rem;
	    border: 1px solid  $laranja;
	    color: #ff7903;
	   	font-size: 1.8rem;
	   	margin: 0 0.5rem;
	    background-color: transparent;
	    transition: ease-in 0.2s;
	      &:hover{
	    	color: #fff;
	    	border: 1px solid  $laranja;
			background-color: $laranja;
    	}
	}
}

	.topicos-veja{
		background-color: #fff;
		margin-bottom: 4rem;
		
		.titulo-topicos-veja{
			padding: 2.5rem 2rem 0;
			h1{
				font-size: 1.6rem;
				color: #ff7903;
				font-weight: 700;
				text-transform: uppercase;
			}
			hr{
				padding-right: 3rem;
				padding-left: 3rem;
				padding-bottom: 1.5rem; 
			}
		}
		.posts-veja{
			display: inline-block;
				.container-veja{
					margin-left: 2rem;
			    margin-bottom: 2.5rem;
			    padding: 0;
					.img-veja{
						img{
							width: 100%;
							height: auto;
					}
				}
			}	
			.titulo-veja{
					text-transform: uppercase;
					font-weight: bold;
					margin-top: -3px;
			}
		}
	}
	.wp-pagenavi a:hover, .wp-pagenavi span.current{
		border-color: $laranja;
		font-size: 1.8rem;
	}
	.pages{
			display: none;
		}