/* <NANO TRADESHOW> */
.sessao-nano{
    background: url(../img/bg-video.jpg) no-repeat;
    background-size: cover; 
  .container-fluid{
    .row{
      .titulo-nano{
        margin-top: 7rem;
        text-align: center;
        h1{
          color: #e96e03;
          text-transform: uppercase;
          letter-spacing: 8px;
          font-size: 2.4rem;
          padding: 0 2rem;

        }
      }
      .divisor-nano{
        hr{
          border-top: 1px solid #e96e03;
          width: 30%;
        }
      }
      .video-nano{
        text-align: center;
        margin-top: 4.5rem;
        margin-bottom: 4.5rem;
        .video{
          iframe{
            border: 0;
            height: 550px!important;
            display: block;
            margin: 0 auto;
          }
        }
      }
    }
  }  
}
/* </NANO TRADESHOW> */