
/*<PRÊMIOS>*/
.sessao-premios{
  width: 100%;
  background: #ededed;
  height: 615px;
  .sombreamento-premios{
    position: absolute;
    height: 615px;
    z-index: 0;
    width: 50%;
    background: rgba(223,223,223,0);
    background: linear-gradient(135deg, rgba(223,223,223,0) 0%, rgba(223,223,223,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dfdfdf', endColorstr='#dfdfdf', GradientType=1 );
  }
  .profundidade-premios{
    z-index: 2;
    position: relative;
    .container{
      .row{
        .premios{
          margin-top: 6.5rem;
          margin-bottom: 2.5rem;
        .chamada-premio{
            h1{
              color:#ff7903;
              font-size: 2rem;
              text-transform: uppercase;
              text-align: center;
            }
          }
        .imagem-premio{
            height: 180px;
            text-align: center;
            margin: 0 auto 5rem;
            padding-top: 5rem;
            img{
              max-width: 300px;
              height: auto;
            }
          }
        .titulo-chamada{
            margin-bottom:3rem; 
              h2{
                font-size: 2rem;
                text-align: center;
            }
          }
        .resumo-chamada{
            .entry-content{
                  text-align: center;
                  padding: 0 20%;
                  line-height: 2;
            }
          }
         .botao{
              margin-top: 5rem;
              margin-bottom: 8rem;
              text-align: center;
              .botao-premio{
                padding: 15px 30px;
                text-transform: uppercase;
                background-color: $laranja;
                color: #fff;
                border: none;
                transition: 0.3s ease;
                &:hover{
                  background: $laranja-claro;
              }
            }
          } 
        }
      }
    }
  }
}
/*</PRÊMIOS>*/