@media screen and (max-width: 991px) {
	.botoes-int .botoes .botao-patrocinar{
		text-align: center;
	  margin-bottom: 3rem;
	  margin-left: 0;		
	}
	.botoes-int .botoes .botao-participar{
		margin-right: 0;
    text-align: center;
    margin-bottom: 3rem;
    margin-left: 0;
	}
	.botoes-int .botoes .botao-patrocinar span{
		padding: 1rem 4rem;
	}
}
