.workshop-internacional{
	background-color: #ededed;
	.titulo-win-int{
		text-align: center;
		text-transform: uppercase;
		margin-top: 5rem;
		margin-bottom: 4rem;
		h1{
			color: $laranja;
			font-size: 2.4rem;
			letter-spacing: 8px;
		}
		hr{
			border-top: 1px solid $laranja;
			width: 30%;
		}
	}
	.conteudo{
		max-width: 1015px;
		margin-bottom: 7rem;
		margin-left: auto;
    margin-right: auto;
    p{
    	font-size: 1.6rem;
    }
    ul{
    	margin-bottom: 4rem;
    	margin-top: 4rem;
    	li{
				line-height: 2.5;
    	}
    }
	}
}	
.chamada{
		text-align: center;
		margin-top: 6rem;
	}
	.botoes-int{
		background-color: #fff;
		.botoes{
			margin-top: 4rem;
			margin-bottom: 6rem;
			.botao-participar{
				margin-right: 6rem;
				text-align:right;
				.breve{
					position: absolute;
			    transform: rotate(-45deg);
			    margin-left: -3rem;
				}
				.span-botao{		
				background-color: #86b95d;	
			    border: none;
			    padding: 1rem 5rem;
			    text-transform: uppercase;
			    color: #fff;
			    font-weight: normal;
			    font-size: 1.8rem;
			    &:focus{
			    	outline:none;
			    }
				}
			}
			.botao-patrocinar{
				text-align: left;
				margin-left: 6rem;
				span{	
					background-color: $laranja;		
				    border: none;
				    padding: 1rem 5rem;
				    text-transform: uppercase;
				    color: #fff;
				    font-weight: normal;
				    font-size: 1.8rem;
				    transition: 0.3s ease;
					&:hover{
						background: $laranja-claro;
					}
				    &:focus{
				    	outline:none;
				    }
				}
			}
		}
	}