.formulario-patrocinar{
	background: #ededed;
	.checkbox-patrocinar{
		margin-top: 6rem;
		margin-bottom: 2rem;
		.label-quero-participar{
			p{
				font-size: 1.6rem;
				span{
					font-size: 1.4rem;
					color: #ababab;
				}
			}
		}
		.campo-check{
			margin-top: 2rem;
			.wpcf7-list-item{
				margin-right: 5%;
				input[type=checkbox]{
			    height: 20px;
			    width: 20px;
			    vertical-align: middle;
			    margin-top: -4px;
			    margin-right: 1rem;
				}
			}
		}
	}
	.campos-gerais{
		p{
			font-size: 1.6rem;
		}
		input[type=text], input[type=email], input[type=tel]{
			width: 100%;
			border: none;
    		height: 40px;
		}
		textarea{
			width: 100%;
			border: none;
		}
	}
	.botao-enviar{
		width: 100%;
		margin-top: 1rem;
		margin-bottom: 5rem;
		input[type=submit]{
			display: block;
		    margin: 0 auto;
		    background: #ff7903;
		    padding: 1rem 10rem;
		    border: none;
		    color: #fff;
		    text-transform: uppercase;
		    transition: 0.3s ease;
			&:hover{
				background: $laranja-claro;
			}
		}
	}
}