/* <PARCEIROS> */
.sessao-parceiros{
  background-color: #fff;
  .container{
      .titulo-parceiros{
        margin-top: 7rem;
        text-align: center;
        h1{
          color: #e96e03;
          text-transform: uppercase;
          letter-spacing: 6px;
          font-size: 2.4rem;
          padding: 0 2rem;
        }
      }
      .divisor-parceiros{
        hr{
          border-top: 1px solid #e96e03;
          width: 30%;
        }
      }
      .patrocinio{
        margin-top: 6rem;
        hr{
          border-color: #7f7f7f;
          margin-top: 0;
        }
      }
      .apoio{
        margin-top: 6rem;
        margin-bottom: 8rem;
        hr{
          border-color: #7f7f7f;
          margin-top: 0;
        }
      }
      .parceiro-box{
        margin: 0 auto;
        ul{
          padding-left: 0;
          li{
            display: block;
            padding: 4rem 0rem;
            height: 0px;
            text-align: center;
          img{
            margin: 0 auto;
            filter: grayscale(100%);
            opacity: 0.7;
          }
          img:hover{
            filter: grayscale(0);
            opacity: 1;
          }
        }
      }
    }   
  }
}
/* </PARCEIROS> */