.sessao-vencedores-premio{
	background: #fff;
	.vencedores{
		.titulo-sessao-premio-vencedores{
			padding-top: 5rem;
			text-align: center;
			h1{
				font-size: 2.4rem;
				color: $laranja;
				letter-spacing: 8px;
			}
			hr{
				border-color: $laranja;
				width: 30%;
			}
		}
		.vencedores-carrosel{
			.slick-list{
			    position: relative;
			    display: block;
			    overflow: hidden;
			    width: 80%;
			    margin: 6rem auto;
			    padding: 0;
			    img{
			    	padding: 0 1.5rem;
			    	max-width: 200px;
			    	height: auto;
			    }
			    p{
			    	max-width: 240px;
			    }	
			}
			.slick-next{
				position: absolute;
			    right: 0;
			    margin-top: -17rem;
			    background: transparent;
   				border: none;
   				font-size: 6rem;
			}
			.slick-prev{
				position: absolute;
				left: 0;
			    margin-top: 1rem;
			    background: transparent;
    			border: none;
    			font-size: 6rem;
			}
		}
		.conteudo-vencedores{
			margin-bottom: 3rem;
		}
	}
}

