.workshop-internacional{
	.banner{
		background: url(../img/page-win-int/win-banner-int.jpg) no-repeat;
		height: 515px;
		background-size: cover;
		margin-top: -2rem;
		.img-destaque{
			padding-top: 18rem;
			padding-left: 2rem;
    		padding-right: 2rem;
			img{
				margin: 0 auto;
		    display: block;
		    width: 420;
		    height: auto;
				max-width: 100%;
			}
		}
		.dados-destaques{
			text-align: center;
			font-size: 2.4rem;
			color: #000;
			hr{
				width: 30%;
				border-color: #000;
			}
		}
	}
}