/*==========  Non-Mobile First Method  ==========*/

  /* Small Screen Desktop */
  @media (min-width: 1240px) and (max-width : 1390px){
      .navigation-background .navbar-default .container-fluid .navbar-elements{
        padding-left: 5rem;
    }
  }
  @media (max-width : 1239px){
      .navigation-background .navbar-default .container-fluid .navbar-elements{
        padding-left: 0rem;
    }
  }
  @media (max-width : 1199px){
      .img-header{
        margin: 20px 30px 20px 0;
    }
  }

  /* Small Devices, Tablets */
 
  @media (min-width: 992px) and (max-width: 1199px){
      .sessao-premios .sombreamento-premios{
        height: 665px;
      }

     .navigation-background .navbar-default .container-fluid .navbar-elements .navbar-collapse .main-navigation li{
        padding: 45px 10px;
      }
      .sociais img{
        padding: 0;
      }
      .sociais{
        margin-top: -8.5rem;
      }
      .sociais figure img{
        padding: 10px 0 0 0;
      }
 }
/* Extra Small Devices, Little Tablets, Phones */
  @media only screen and (max-width : 767px) {
    /*VÍDEO*/
    .container-fluid .row .row .container-fluid .logo-video{
      margin-top: 16rem;
    }
    .container-fluid .row .row{
      height: 875px;
    }
    .sessao-nano .container-fluid .row .video-nano .video iframe{
        height: auto!important;
        width: auto!important;
    }
    /*VÍDEO*/
    /* HEADER*/
    .img-header{
          margin-top: 20;
          margin-bottom: -20px;
          margin-right: 20px;
    }
    /* /HEADER*/
    /*CHAMADA*/
    .sessao-chamada .container-fluid .row .chamada .divisor-chamada hr{
        margin-bottom: 4rem;
    }
    .sessao-chamada .container-fluid .row .chamada .titulo-chamada{
        margin-top: 2rem;
          h1{
            letter-spacing: 8px;
      }
    }
    .sessao-chamada .container-fluid .row .chamada .chamada-chamada{
        margin-bottom: 6rem;
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }
    /* /CHAMADA*/
    /*BLOG*/ 
    .sessao-blog .container .row .posts .post .box .titulo-post{
        padding: 0 1rem;
    }
    .sessao-blog .container .row .posts .post .box .resumo-post{
        font-size: 14px;
        text-align: left;
        padding: 1.5rem 1.8rem 0rem 1.8rem;
    } 
    /*BLOG*/
    /*FOOTER*/
    .innovative-footer{
      padding: 0;
    }    
    /*FOOTER*/
  } 

  /* Big Smartphones */
  @media (max-width: 480px){
    .sessao-nano .container-fluid .row .titulo-nano h1{
      font-size: 2.8rem;
    }
  }

  /* Medium Smartphones */
  @media (max-width: 420px){
    .container-fluid .row .row .container-fluid .titulo-video h1{
          font-size: 2.5rem;
    }
    .container-fluid .row .row .container-fluid .chamada-video p{
          font-size: 1.5rem;
    }
    .sessao-chamada .container-fluid .row .chamada .titulo-chamada h1{
      font-size:1.8rem;
    }
  }

  /* Small Smartphones */
  @media (max-width: 375px){
    .sessao-parceiros .container .parceiro-box{
      overflow: hidden;
    }
  }

 /* Old iPhone */
 @media (max-width: 330px){
  .sessao-blog .container .row .posts .post ul li img,
  .sessao-blog .container .row .posts .post .box{
        max-width: 290px;
  }
 }
 @media only screen and (min-width : 992px) {
    .container-fluid{
      .video-desktop{
        display: block;
      }
    }

  }
@media only screen and (min-width : 1200px){
  .sessao-nano{
    .video-nano{
      .video{
        iframe{
          width: 50%;
        }
      }
    }
  }
}  
@media only screen and (min-width : 992px) and (max-width: 1199px){
  .sessao-nano{
    .video-nano{
      .video{
        iframe{
          width: 75%;
        }
      }
    }
  }
  .sessao-premios{
    height: 665px;
  }
}

@media only screen and (max-width : 991px) {
  .default{
    opacity: 0;
    display: none;
  }
  .sessao-premios{
    height: auto;
  }
  .ativa{
    opacity: 1;
    display: block
  }

  .sessao-parceiros .container .parceiro-box li img{
    filter: none;
    opacity: 1;
  }
    .sociais{
      display: none;
    }
    .container-fluid{
      .video-mobile{
        display: block;
      }
    }
    .sessao-nano{
      .video-nano{
        .video{
          iframe{
            width: 75%;
          }
        }
      }
    }
    .sessao-blog{
           background: #e5e5e5;
    }
    .sessao-nano .container-fluid .row .titulo-nano h1, .sessao-blog .container .row .titulo-blog h1, .sessao-parceiros .container .row .titulo-parceiros h1, .sessao-chamada .container-fluid .row .chamada .titulo-chamada h1 {
        font-size: 30px;
    }
    .sessao-parceiros .container .row .titulo-parceiros h1{
        font-size: 2rem;
    }
    .sessao-chamada .container-fluid .row .chamada .titulo-chamada h1{
      font-size: 1.9rem;
    }
    .sessao-premios .sombreamento-premios{
      height: 0;
    }
    .container-fluid .row .row .container-fluid .divisor-video{
      width: 35%;
    }
  }

@media screen and (min-width: 769px) and (max-width: 992px ) {
  .navigation-background .navbar-default .container-fluid .navbar-elements .navbar-collapse .main-navigation li{
        padding: 45px 6px;
  }
}

@media (max-width: 1199px){

.sessao-blog .container .row .posts .post li img{
      margin: 0 auto;
    }
    .sessao-blog .container .row .posts .post .box{
      margin: 0 auto;
    }
    .sessao-blog .container .row .posts .post li:last-child{
        margin-top: 6rem;
    }
  }

  @media (max-width: 320px){
      .sessao-blog .container .row .posts .post .box{
        width: 290px;
      }
      .img-header{
        img{
          width: 70%
        }
      }
  }
  @media (max-width: 370px){

      .img-header{
        img{
          width: 70%
        }
      }
  }


  /* CONTATO */
/* Small tablets */
@media (max-width: 800px){
  .dotpet-footer {
    .dotpet-footer-contato{
      margin-bottom:30px;
    }
    .dotpet-footer-form {
      border: 0;
      padding:0;
    }
    .dotpet-footer-form2{
      padding:0;
    }
  }
}

/* Extra Small Devices, Little Tablets, Phones */
@media only screen and (max-width : 767px) {
 
  .navigation-background .navbar-default .container-fluid .navbar-elements .navbar-collapse .main-navigation li ul{
        width: 100%!important;
        margin-left: 0;
  }
  .navigation-background .navbar-default .container-fluid .navbar-elements .navbar-collapse .main-navigation{
    padding-bottom: 11rem;
  }
  .dotpet-newsletter{
    p{
      width:100%;
    }
  }
  .dotpet-footer{
    .wpcf7-validation-errors, .wpcf7-mail-sent-ng, .wpcf7-response-output{
      left: 0;
      right: 0;
      bottom: -30px;
    }
    .dotpet-footer-contato{
      margin-bottom:30px;
    }
    .dotpet-footer-form{
      border:0;
      padding:0;
      .form-group:last-child {
        margin-bottom: 15px;
      }
    }
    .dotpet-footer-form2{
      padding:0;
    }
  }
  .navigation-background .navbar-default{
      position: absolute;
      width: 100%;  
  }
  .main-navigation{
        background: transparent !important;
        margin-left: -45px!important;
        text-align: center!important;
        height: auto!important;
        position: relative;
       
        li{
          display: block!important;
          padding: 20px 0!important;
          text-align: center!important;
          width: 100%!important;
          height: auto!important;
      }
    }
}

  /* /CONTATO*/
  /*VÍDEO*/
    @media only screen and (max-width : 767px) {
    
    .container-fluid .row .row .container-fluid .logo-video{
      margin-top: 16rem;
    }
    .container-fluid .row .row{
      height: 875px;
    }
    
  }
   @media only screen and (min-width : 320px) and (max-width: 460px) {
    .sessao-nano .container-fluid .row .video-nano .video iframe{
        height: 30%!important;
        width: auto !important;
    }
   }
    @media only screen and (min-width : 461px) and (max-width: 767px) {
  .sessao-nano .container-fluid .row .video-nano .video iframe{
      height: 40%!important;
      width: 75%!important;
    }
   }
   /*VÍDEO*/