/* Fonts */
  @import url('https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700,900');

@font-face {
  font-family: 'blogscriptregular';
  src:
    url('../fonts/blog.woff2') format('woff2'),
    url('../fonts/blog.woff') format('woff'),
    url('../fonts/blog.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}
 
/* Fonts */

/* Variables */
$font: 'Maven Pro', sans-serif;
$font2: 'blogscriptregular', sans-serif;


$cinza          : #ededed;
$laranja        : #ff7903;
$laranja-claro  : lighten(#ff7903, 10%);
$amarelo        : #fcb53f;
$amarelo-claro  : lighten(#fcb53f, 10%);
$verde          : #86b95d;
$verde-claro    : lighten(#86b95d, 10%);
$blue-dark      : #2a2435;
$blue-neutral   : #272632;
$blue-light     : #e7f4fa;
$blue-dark2     : #c0e2f2;
$green          : #00a796;
$yellow         : #f6d92a;
$yellow-light   : rgba(248, 229, 111, 1);
$yellow-alpha-2 : rgba(246, 217, 42, .2);
$yellow-alpha-7 : rgba(246, 217, 42, .7);
$yellow-menu    : #f4d21f;
$pink           : #c853a1;
$pink-blog      : #dc99c2;
$gray           : #f3f9fd;
$gray-blog      : #f5f5f5;
$gray-font      : #808080;
$black          : #211f1f;
$white          : #fff;
$cinza-rodape   : #9b9999;
$grey_rgba      : rgba(155, 153, 153, 0.1);
$blue-face      : #4867aa;
$blue-ln        : #0077b5;
$blue-tt        : #2aa9e0;
$red-yt         : #f80000;
$red-plus       : #db4437;
$pink-insta     : #a7308a;

$transition: all 0.3s ease;


@mixin font($size: 16px, $weight: 400, $color: #211f1f) {
  font-family: $font;
  color: $color;
  font-weight: $weight;
  font-size: $size;
}

@mixin padding-top(){
  height: calc(100vh - 120px);
}