@media screen and (max-width: 991px) {
	.feira .container .botoes .botao-patrocinar{
		margin: 2rem 2rem;
	}
	.feira .container .botoes{
		margin-bottom: 4rem!important;
	}
	.feira .container .botoes .botao-visitar{
		    margin: 0px 2rem 4rem;
	}
}
@media screen and (max-width: 768px) {
	.feira .container .conteudo{
		padding: 0 2rem;
	}
	.feira .container .titulo-feira hr,
	.feira .expoe .titulo-sessao-feira hr,
	.feira .visita .titulo-sessao-feira hr{
		width: 70%;
	}

}