.feira{	
	.container{
		max-width: 980px;
		.titulo-feira{
			text-align: center;
			text-transform: uppercase;
			margin-top: 5rem;
			margin-bottom: 4rem;
			h1{
				color: $laranja;
				font-size: 2.4rem;
				letter-spacing: 8px;
			}
			hr{
				border-top: 1px solid $laranja;
				width: 30%;
			}
		}
		.conteudo{
			background: #fff;
			margin-bottom: 4rem;
				p{
					margin-bottom: 2rem;
					font-size: 1.6rem;
			}
		.relatorio{
			margin-top: 6rem;
			text-align: center;
				p{
					margin-bottom: 0;
				}
			}	
		}
		.botoes{
			margin-bottom: 10rem;
			text-align: center;
			span{
		    border: none;
		    padding: 1rem 2.5rem;
		    text-transform: uppercase;
		    color: #fff;
		    font-weight: normal;
		    font-size: 1.8rem;
		    &:focus{
		    	outline:none;
		    }
			}
			.botao-expor{
				background: $amarelo;
				margin: 0 2rem;
				padding: 1rem;
				transition: 0.3s ease;
				&:hover{
					background: $amarelo-claro;
				}
				span{
					background: transparent;
				}
			}
			.botao-patrocinar{
				background: $laranja;
				padding: 1rem 0rem;
				margin: 0;
				transition: 0.3s ease;
				&:hover{
					background: $laranja-claro;
				}
				span{
					background: transparent;
				}

			}
			.botao-visitar{
				background: $verde;
				margin: 0 2rem;
				padding: 1rem;
				transition: 0.3s ease;
				&:hover{
					background: $verde-claro;
				}
				span{
					background: transparent;
				}
			}
		}
	}
	.expoe{
		background: $cinza;
		.titulo-sessao-feira{
			padding-top: 5rem;
			padding-bottom: 4rem;
			text-align: center;
			h1{
				color: $laranja;
				font-size: 2.4rem;
				letter-spacing: 8px;
			}
			hr{
				width: 30%;
				border-color: $laranja;
			}
		}
		.conteudo-expoe{
			margin-bottom: 6rem;
			p{
				margin-bottom: 2rem;
			}
			ul{
				li{
					line-height: 2;
				}
			}
		}
	}
	.visita{
		background: #fff;
		.titulo-sessao-feira{
			padding-top: 5rem;
			padding-bottom: 4rem;
			text-align: center;
			h1{
				color: $laranja;
				font-size: 2.4rem;
				letter-spacing: 8px;
			}
			hr{
				width: 30%;
				border-color: $laranja;
			}
		}
		.conteudo-visita{
			margin-bottom: 6rem;
			p{
				margin-bottom: 2rem;
			}
			ul{
				li{
					line-height: 2;
				}
			}
		}
	}

	.botoes-inferiores{
		padding-top: 6rem;
		background: $cinza;
		.chamada-inferior{
			text-align: center;
			padding-bottom: 6rem;
			font-size: 1.6rem;
		}
		.segunda-chamada-inferior{
			text-transform: uppercase;
			text-align: center;
			font-size: 1.6rem;
			padding: 0 16%;
			margin-bottom: 6rem;
		}
	}
}	
