@media screen and (max-width: 1200px) {
	.workshops .conteudo .markup{
		padding: 0 3rem; 
	}	
	.workshops .titulo-win h1{
		padding: 0 2rem; 
	}
}

@media screen and (max-width: 991px) {
	.botoes{
		margin-bottom: 0!important;
	}
	.workshops .botoes .botao-win-reg{
		text-align: center;
    margin: 0;
	}
	.workshops .botoes .botao-win-int{
		text-align: center;
    margin: 3rem 0;
	}
}