.workshop-regionais{
	.banner{
		background: url(../img/page-win-reg/win-banner-reg.jpg) no-repeat;
		height: 515px;
		background-size: cover;
		margin-top: -2rem;
		.img-destaque{
			padding-top: 24rem;
			padding-left: 2rem;
    		padding-right: 2rem;
			img{
				margin: 0 auto;
			    display: block;
			    width: 420;
			    height: auto;
				max-width: 100%;
			}
		}
	}
}