@media screen AND (max-width: 991px){
	.premios .sessao-premio-inovacao .conteudo .botoes .botao-regulamento,
	.premios .sessao-premio-inovacao .conteudo .botoes .botao-inscrever{
		text-align: center;
		margin-left: 0;
    	margin-bottom: 4rem;
	}

}
@media screen AND (max-width: 330px){
	.coluna-botao{
    	padding-right: 0!important;
    	padding-left: 0!important;
	}

}