.premios{	
	.sessao-premio-inovacao{
		.row{
			height: auto!important;
			.titulo-premio{
				text-align: center;
				text-transform: uppercase;
				margin-top: 5rem;
				margin-bottom: 4rem;
				h1{
					color: $laranja;
					font-size: 2.4rem;
					letter-spacing: 8px;
				}
				hr{
					border-top: 1px solid $laranja;
					width: 30%;
				}
			}
		}
		.conteudo{
			background: #fff;
			margin-bottom: 4rem;
			padding: 0 2rem; 
				p{
					margin-bottom: 2rem;
					font-size: 1.6rem;
			}
			.botoes{
				margin-top: 4rem;
				margin-bottom: 8rem;
				text-align: center;
				span{
			    border: none;
			    padding: 1.5rem 4rem;
			    text-transform: uppercase;
			    color: #fff;
			    font-weight: normal;
			    font-size: 1.8rem;
			    &:focus{
			    	outline:none;
			    }
				}
				.botao-regulamento{
					background: #fff;
					margin: 0 3rem;
					text-align: right;
					span{
						background: $amarelo;
						transition: 0.3s ease;
						&:hover{
							background: $amarelo-claro;
						}	
					}
				}
				.botao-inscrever{
					
					margin: 0 3rem;
					text-align: left;
					span{
						background: $verde;
						transition: 0.3s ease;
						&:hover{
							background: $verde-claro;
						}	
					}
				}
			}
		}
	}	
}
