.inscreva{
	.tabela-inscreva{
		background: #fff;
		.titulo-tabela{
			margin-top: 6rem;
			h1{
				color: $laranja;
				text-transform: uppercase;
				font-size: 2rem;
			}
			p{
				font-size: 1.6rem;
			}

		}
		.tabela{
			overflow-x: auto;
			table{
			margin: 4rem auto 8rem;
			width: 940px;
				tr{
					td{
						border: solid 1px #000000;
						padding: 2.5rem;
						text-align: center;
					}
				}
			}
		}
	}
}