.listagem-posts{
	background-color: #ededed;
}
.banner{
	background: url(../img/page-blog/blog-banner.jpg) no-repeat;
	height: 465px;
	background-size: cover;
	margin-top: -2rem;
	h1{
	    text-align: center;
	    color: #ededed;
	    text-transform: uppercase;
	    padding-top: 26rem;
	    font-size: 50px;
	    letter-spacing: 12px;
	    font-weight: 900;
	}
}
