.conteudo{
	background: #ededed;
	.single{
		background: #fff;
			.titulo-single{
				padding:1rem 0 1rem 2.5rem;
				margin-top: 3rem;
					h1{
						font-size: 1.8rem;
						text-transform: uppercase;
						color: #000;
					} 
			}
			.img-single{
				img{
					width: 100%;
					height: auto;
				}
			}
			.conteudo-single{
				p{
					margin: 1rem 2rem;
					&:first-child{
						margin-top: 4rem;
					}
					&:last-child{
						margin-bottom: 4rem;
				}
			}
		}
		.divisor-compartilhar{
			font-size: 1.2rem;
			color:#d5d5d5;	
			padding-left: 2.5rem;
				hr{
					margin-top: 1rem;
					float: right;
					width: 80%;
				}
			}
				.botoes-compartilhar{
					width: 100%;
			    text-align: left;
			    display: inline-block;
			    margin-left: 2rem;
			    margin-bottom: 2rem;
					span{
						margin: 0 0.25rem;
						border: none;
				    color: #fff;
				    font-size: 13px;
				    font-weight: 300;	
				    border-radius: 5px;
				    padding: 0.5rem 0.75rem;
					}
					.facebook{
						background-color: #3b5997;
						box-shadow: 0px 2px 0px #2f4779;
					}
					.linkedin{
						background-color: #0074a1;
						box-shadow: 0px 2px 0px #005d81;
					}
					.twitter{
						background-color: #00aced;
						box-shadow: 0px 2px 0px #008abe;
					}
					.google{
						background-color: #d64937;
						box-shadow: 0px 2px 0px #ab3a2c;
					}
			}
	}
	.topicos-relacionados{
		background-color: #fff;
		margin-bottom: 4rem;
		.titulo-topicos-relacionados{
			padding: 2.5rem 2rem 0;
			h1{
				font-size: 1.6rem;
				color: #ff7903;
				font-weight: 700;
				text-transform: uppercase;
			}
			hr{
				padding-right: 3rem;
				padding-left: 3rem;
				padding-bottom: 1.5rem; 
			}
		}
		.posts-relacionados{
			display: inline-block;
				.container-relacionados{
					margin-left: 2rem;
			    margin-bottom: 2.5rem;
			    padding: 0;
					.img-relacionados{
						img{
							width: 100%;
							height: auto;
					}
				}
			}	
			.titulo-relacionados{
					text-transform: uppercase;
					font-weight: bold;
					margin-top: -3px;
			}
		}
	}
	.comentarios{
		margin-top: 4rem;
		margin-bottom: 4rem;
		background: #fff;
		.titulo-comentarios{
			padding: 2rem 2.5rem;
			h1{
				color: #ff7903;
				text-transform: uppercase;
				font-size: 1.6rem;
			}
		}
	}
	.pode-gostar{
		margin-top: 4rem;
		margin-bottom: 4rem;
		background: #fff;
		.titulo-pode-gostar{
			padding: 2rem 2.5rem 0;
			h1{
				color: #ff7903;
				text-transform: uppercase;
				font-size: 1.6rem;
			}
			hr{
				padding-right: 3rem;
				padding-left: 3rem;
				padding-bottom: 1.5rem; 
			}
		}
		.posts-pode-gostar{
			display: inline-block;
				.container-pode-gostar{
					padding-left: 2.5rem;
					padding-right: 2.5rem;
					.img-pode-gostar{
					img{
						width: 100%;
						height: auto;
						}	
					}
					.titulo-pode-gostar{
						 text-transform: uppercase;
					   padding: 2rem 0;
					   font-weight: bold;
				}
			}
		}
	}
}