.visitar{
	background: #fff;	
	.titulo-quero-visitar{
		text-align: center;
		text-transform: uppercase;
		margin-top: 5rem;
		margin-bottom: 4rem;
		h1{
			color: $laranja;
			font-size: 2.4rem;
			letter-spacing: 8px;
		}
		hr{
			border-top: 1px solid $laranja;
			width: 30%;
		}
	}
	.conteudo{
		background: #fff;
		margin-bottom: 7rem;
		p{
			font-size: 1.6rem;
			margin-bottom: 2rem;
		}
	}
}