.workshops{	
	.titulo-win{
		text-align: center;
		text-transform: uppercase;
		margin-top: 5rem;
		margin-bottom: 4rem;
		h1{
			color: $laranja;
			font-size: 2.4rem;
			letter-spacing: 8px;
		}
		hr{
			border-top: 1px solid $laranja;
			width: 30%;
		}
	}
	.conteudo{
		background: #fff;
		margin-bottom: 7rem;
		.markup{
			font-size: 1.6rem;
	    line-height: 1.5;
	    text-align: justify;
	    padding: 0 8rem;
		}
	}
	.botoes{
		margin-bottom: 12rem;
		span{
			
			background: #ff7903;
	    border: none;
	    padding: 1rem 2.5rem;
	    text-transform: uppercase;
	    color: #fff;
	    font-weight: normal;
	    font-size: 1.8rem;
	    &:focus{
	    	outline:none;
	    }
		}
		.botao-win-reg{
			margin-right: 6rem;
			text-align:right;
		}
		.botao-win-int{
			text-align: left;
			margin-left: 6rem;
		}
	}
}	