.formulario-expor{
	background: #ededed;
	padding: 5rem 0;
	.checkbox-expor{
		margin-top: 6rem;
		margin-bottom: 2rem;
		.label-quero-expor{
			p{
				font-size: 1.6rem;
				span{
					font-size: 1.4rem;
					color: #ababab;
				}
			}
		}
	}
	.campos-gerais{
		p{
			font-size: 1.6rem;
		}
		input[type=text], input[type=email], input[type=tel], select{
			width: 100%;
			border: none;
    	height: 40px;
		}
	}
	.botao-enviar{
		margin-top: 5rem;
		width: 100%;
		input[type=submit]{
			display: block;
		    margin: 0 auto;
		    background: $laranja;
		    padding: 1rem 10rem;
		    border: none;
		    color: #fff;
		    text-transform: uppercase;
		    transition: 0.3s ease;
			&:hover{
				background: $laranja-claro;
			}
		}
	}
	.condicional{
		display: none;
	}
}