.formulario-inscreva{
	background: #ededed;
	h1{
		color: $laranja;
		letter-spacing: 8px;
		font-size: 2.4rem;	
		text-align: center;
		margin-top: 4rem;
	}
	hr{
		border-color: $laranja;
		width: 30%;
	}
	.campos-gerais{
		margin-top: 5rem;
		p{
			font-size: 1.6rem;
		}
		input[type=text], input[type=email], input[type=tel], input[type=number], select, select option{
			width: 100%;
			border: none;
    		height: 40px;
		}
		textarea{
			width: 100%;
			border: none;
			height: 150px;
		}
		.espaco{
			margin-top: 3rem;
			margin-bottom: 3rem;
		}
		.checks{
			h1{	
				text-align: left;
				color: $laranja;
				font-size: 2rem;
				margin-bottom: 3rem;
				text-transform: uppercase;
			}
		}
	}
	.botao-enviar{
		width: 100%;
		margin-top: 0;
    	margin-bottom: 3rem;
		input[type=submit]{
			display: block;
		    float: right;
		    background: #ff7903;
		    padding: 1rem 10rem;
		    border: none;
		    color: #fff;
		    text-transform: uppercase;
		}
	}
}