/* <BLOG> */
  .sessao-blog{
    background: url(../img/bg-blog1.jpg) no-repeat;
    background-size: cover;
    padding-bottom: 7rem; 
  .container{
    .row{
      .titulo-blog{
        margin-top: 5.5rem;
        text-align: center;
        h1{
          color: #e96e03;
          text-transform: uppercase;
          letter-spacing: 10px;
          font-size: 2.4rem;
          padding: 0 2rem;

        }
      }
      .divisor-blog{
        hr{
          border-top: 1px solid #e96e03;
          width: 30%;
        }
      }
      .posts{
        margin-top: 5rem;
        margin-bottom: 5rem;
          .post{
            text-align: center;
            ul{
              padding-left: 0;
              li{  
                display: block;
                position: relative;
                  img{
                    display: block;
                    max-width: 306px;
                    height: auto;
                    margin: 0 auto;
                    border: 1px solid #e96e03;
                    border-bottom: none;
                }
              }
            }
          
          .box{
              background-color: rgba(255, 255, 255, 0.7);
              position: relative;
              width: 307px;
              bottom: 0px;
              margin: 0 auto;
              text-align: center;
              padding-top: 2.5rem;
              border: 1px solid #e96e03;
              border-top: none;
              border-bottom: none;
            .titulo-post{
              font-size: 16px;
              text-transform: uppercase;
              height: 70px;
            }
            .resumo-post{
                font-size: 14px;
                padding-top: 2rem;
                padding-left: 1.5rem;
                text-align: left;
                line-height: 2;
                padding-right: 1.5rem;
                padding-bottom: 2rem;
                height: 124px;

            }
            .botao-post{
              .post-botao{
                  padding: 1.5rem 7.5rem;
                  color: #e96e03;
                  display: block;
                  text-transform: uppercase;
                  width: 100%;
                  background-color: rgba(255, 255, 255, 0.7);
                  border-left: none!important;
                  border: 1px solid #e96e03;
                  border-right: none;
                  transition: 0.3s ease;
                  &:hover{
                    background: $laranja;
                    color: #fff;
                }
              }
            }
          }
        }
      }
    }
  }
}
/* <BLOG/> */