.feira{
	.banner{
		background: url(../img/page-a-feira/feira-banner.jpg) no-repeat;
		height: 515px;
		background-size: cover;
		margin-top: -2rem;
		.img-destaque{
			padding-top: 18rem;
			padding-left: 2rem;
    	padding-right: 2rem;
			img{
				margin: 0 auto;
		    display: block;
		    width: 170px;
		    height: auto;
				max-width: 100%;
			}
		}
		.titulo-destaque{
			.dado{
				padding-top: 2rem;
				text-align: center;
				font-size: 24px;
				color: #fff;
				letter-spacing: 8px;
				text-transform:uppercase;
			}
		}
		.dados-destaque{
			.dado{
				text-align: center;
				font-size: 20px;
				color: #fff;
				text-transform:uppercase;
				letter-spacing: 5px;
			}
			hr{
				width: 210px;
			}
		}
	}
}