.laterais{
	
	margin-top: 3rem;
	.pesquisa{
		background-color: #fff;
		margin-bottom: 4rem;
		.campo-pesquisa{
			height: 40px;
			border: 1px solid #d5d5d5;
	    background: transparent;
	    margin: 2.5rem 0 2.5rem 2.5rem;
      width: 70%;
      padding-left: 2rem;

			}
			.lupa{
				left: 0;
	    		padding: 1.1rem 1.5rem;
	    		background-color: #2c2c2c;
	    		margin: 2.5rem 2.5rem 2.5rem 0.3rem;
			    border: none;
				i{
					color: #fff;
			}
		}
	}

	
	.categorias{
		background-color: #fff;
		margin-bottom: 4rem;
		.lista{
			text-decoration: none;
			ul{
				padding-left: 0;		
				.categories{
					padding:2rem 2.5rem;
					font-size: 1.6rem;
		    	color: #ff7903;
		    	list-style: none;
		    	font-weight: 700;
		    	text-transform: uppercase;
				  ul{
				  	font-weight: normal;
						margin-top: 2rem;
				    border-top: 1px solid #ededed;
				    padding-top: 2rem;
				    padding-left: 2.5rem;
				    text-transform: none;
						li{
							list-style: none;
							padding-bottom: 1.5rem;
							&::before{
								content: ">";
	    					margin-right: 1rem;
	    					margin-left: -2rem;
	    					color: #868686;
							}
						}	
				 	}
				}
			}			
		}
	}
}